<ul>
  <li class="menu-item"><a href="/">Accueil</a></li>
  <li class="menu-item"><a routerLink="/about">À propos </a></li>
  <li class="menu-item menu-item-has-children">
    <a href="#">Speakers</a>
    <ul class="sub-menu">
      <li><a routerLink="/speakers">Our Speakers</a></li>
      <li><a routerLink="/speaker-details">Speakers Details</a></li>
    </ul>
  </li>
  <li class="menu-item menu-item-has-children">
    <a href="#">Partenaires & Medias</a>
    <ul class="sub-menu">
      <li><a routerLink="/sponsors">Partenaires</a></li>
      <!-- <li><a routerLink="/shedules">Medias</a></li> -->
      <li><a routerLink="/gallery-v2">Gallerie</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="#">Actualités</a>
  </li>
  <li class="menu-item">
    <a href="/contact">Contact</a>
  </li>
</ul>
