<footer class="footer-area footer-area-v1 footer-area-v2 bg_cover" style="background-image: url({{footerbg}});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="footer-content-area text-center">
                    <div class="content-box">
                        <a routerLink="/"><img src="{{logo}}" alt=""></a>
                        <p>
                            La Jeune Chambre Internationale (JCI) est une fédération mondiale de 200 000 jeunes professionnels et entrepreneurs, âgés de 18 à 40 ans,
                        </p>
                        <ul>
                            <li><a routerLink="/">Home</a></li>
                            <li><a routerLink="/">Speakers</a></li>
                            <li><a routerLink="/">Contact</a></li>
                        </ul>
                    </div>
                    <div class="social-box">
                        <ul>
                            <li><a routerLink="/"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a routerLink="/"><i class="fab fa-twitter"></i></a></li>
                            <li><a routerLink="/"><i class="fab fa-behance"></i></a></li>
                            <li><a routerLink="/"><i class="fab fa-youtube"></i></a></li>
                            <li><a routerLink="/"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<app-backtotop></app-backtotop>